body{
    background-image: url(./imgs/fondo.png);
    background-size: contain;
}


.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    flex-direction: column;
}


.card{
    display: flex;
    height: 21rem;
    width: 47rem;
    background-color: #64281B;
    border-radius: 2rem;
    padding-top: 2rem;
}

.form-pizza-container{
    flex-direction: column;
    width: 20rem;
    height: 16rem;
    text-align: center;
    background-color: #64281B;

}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #64281B;
    width: 20rem;
    height: 7rem;
    margin-top: 2rem;
    border-radius: 2rem;

}

.input{
    text-align: center;
    width: 12rem;
    margin: 1rem;
    height: 1.5rem;
    background-color: beige;
    border-radius: 10px;
}


.error{
    color: black;
    margin-bottom: 0.3rem;
    font-size: 1em;
}

.boton{
    background-color: beige;
    width: 9rem;
    height: 2rem;
    border-radius: 2rem;
    cursor: pointer;
}


.pizza-nombre{
    padding: 2rem;
    color: beige;
    background-color: #64281B;
}

.pizza-ingredientes{
    padding: 2rem;
    color: beige;
    background-color: #64281B;
}

.pizza-precio{
    color: beige;
    background-color: #64281B;
    border-radius: 2rem;
}

.pizza-image{
    width: 25rem;
    border-radius: 1rem;
    height: 15rem;
}
.pizza-image-container{
    display: flex;
    align-items: center;
    background-color: #64281B;
    display: flex;
    height: 16rem;
}

.pizzaImage-center{
    height: 15rem;
    width: 20rem;
    background-color: #64281B;
}